@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>After Class!</h1>
    <p class="lead">The zone for the after class communication and home visit booking!</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Forum</h2>
        <p>
            Exchange your idea here!
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Home Visit</h2>
        <p>Need face to face help? Booking here</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
</div>